<!DOCTYPE html>
<html>
	<head lang="en">
	    <meta charset="UTF-8">
	    <title>Vue2.2.6学习</title>
	    <script src="../../lib/jQuery/jquery-2.1.4.js"></script>
		<script src="../../lib/Vue2.2.6/vue.js"></script>

		
	</head>
	<body>
		<!--第一个根组件-->
		<div class="app">
			{{message}}
			点击子组件，父组件的num值：{{num}}
			<!--全局组件-->
			<app-item v-on:lhl="lhl_m"></app-item>

			<app-item2>
				<app-empty>
					<span>冗余</span>
					<span>冗余</span>
				</app-empty>
			</app-item2>

			<ul>
				<li v-for="(item,index) in items">第{{index+1}}个名字：{{item.name}}</li>
			</ul>
			<!--局部组件-->
			<local-component v-bind:child_message="father_message"></local-component>
			<!--渲染html和非html-->
			<div class="sHtml" v-html="htmls">

			</div>
		</div>


		<!--第二个根组件-->
		<div class="app2">
			增加数值：{{addNum}}
			遍历数组：
			<div v-for="(item,index) of testArray">
				第{{index+1}}个名字：{{item.name}}；年龄：{{item.age}}
			</div>
			遍历对象：
			<div v-for="(value,key,index) of testObj">
				第{{index+1}}个key：{{key}}——值为：{{value}}
			</div>
			遍历数组2：
			<div v-for="item of testArray2 ">{{item}}</div>
			<button v-on:click="count+=1">增加1</button>
			<div>count值为{{count}}</div>

			<input v-model="input_message" placeholder="edit me">
			<p>Message is: {{ input_message }}</p>
		</div>	
		
		<div id="app3">
			总共被点击{{total}}次；
			<button-counter-component v-on:increment="getAllNum"></button-counter-component>
			<button-counter-component v-on:increment="getAllNum"></button-counter-component>


			<slot-component>
				<h1>这里是插入槽的内容h1</h1>
			</slot-component>

			<div><input type="text" v-focus placeholder="自定义指令"></div>

			<input type="radio" name="radios" value="第一" v-model="checked">
			<label for="checkbox">1</label>
			<input type="radio" name="radios" value="第二" v-model="checked">
			<label for="checkbox">2</label>
			<div>{{checked}}</div>
		</div>
	<!--注意：自己的js必须放在被渲染的dom的后面，总而言之js都放在下面吧-->
	<script src="index.js"></script>
	</body>
</html>