<div>{{counter}}</div>
<div>
  <!--ngForm 代表了表单这个整体，是angular独有的变量，将其赋予给-->
  <form (ngSubmit)="submitForm()" #heroForm="ngForm">
    名字：
    <input required type="text" [(ngModel)]="thisName" name="userName" #user_name_dom='ngModel'>
    <div class="wrongTipsFor_name" [hidden]='user_name_dom.valid || user_name_dom.pristine'>
      姓名必须填写！
    </div>
    <br />
    号码：
    <input required type="text" [(ngModel)]="thisTel" name="userTel" #user_tel_dom='ngModel'>
    <div class="wrongTipsFor_tel" [hidden]='user_tel_dom.valid || user_tel_dom.pristine'>
      电话必须填写！
    </div>
    <label for="power">Hero Power</label>
    <select class="form-control" id="power" required [(ngModel)]="thisPower" name="power">
      <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
    </select>
    <button type="submit" [disabled]="!heroForm.form.valid">提交用户</button>
    力量类型：{{thisPower}}
  </form>
</div>

<div>用户列表{{objTest.name}}</div>
<div *ngFor="let perUser of users">
  <span>{{perUser.userName}}</span>,
  <span>{{perUser.userTel}}</span>
</div>

<span [ngClass]="styleNames">这里是测试ngClass</span>

<div class="foms_module">
  <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
    <label for="u_address">地址</label>
    <input type="text" id="u_address" name="u_address" ngModel>
    <label for="u_family">家庭成员</label>
    <input type="text" id="u_family" name="u_family" ngModel>
    <button type="submit">提交显示form数据</button>
  </form>
</div>
<a [routerLink]="['/protected']">跳转到保护模块</a>
<div class="loginButton" *ngIf="!auth_service.isLogin()" (click)="login('lhl','111')">请登录</div>
<div class="loginedTips" *ngIf="auth_service.isLogin()" (click)="loginOut()">退出</div>