.detailModel{
    min-height:2.64rem;
    margin-top:0.15rem;
    margin-bottom:0.1rem;
}
.detailModel3{
    display: none;
}
.refuseButton{
    width:0.88rem;
    float:left;
}
.callPrice{
    width:2.46rem;
    float:right;
}
.submit{
    width:100%;
    margin-top:0.22rem;
}
.formList{
    width:100%;
    height:5.2rem;
    background-color: #ffffff;
    overflow: hidden;
    position: fixed;
    bottom:-5.2rem;
    left:0;
    z-index: 11;
    transition:all 0.2s;
}
.formListShow{
    bottom:0;
}
.perForm{
    height:0.48rem;
    border-bottom:0.01rem solid rgba(249,249,249,1);
    overflow: hidden;
}
.formHead{
    text-align: center;
    font-size: 0.16rem;
    font-weight: bold;
    color:#323455;
    line-height: 0.48rem;
    position: relative;
}
.closeFormList{
    width:0.24rem;
    height:0.24rem;
    position: absolute;
    z-index: 11;
    right:0;
    top:0.1rem;
}
.label{
    color:#323455;
    float:left;
    width:0.7rem;
    margin-top:0.15rem;
    margin-right:0.25rem;
}
.ness{
    color:#4E7DFF;
}
.input{
    width:1rem;
    margin-top:0.13rem;
    color:#323455
}
.clearNum,.clearPurity,.clearPrice,.clearPeriod,.clearComment{
    width:0.24rem;
    height:0.24rem;
    float:right;
    margin-top:0.13rem;
    display: none;
}
#offer_p_unit{
    margin-top:0.15rem;
    color:#A7AAC4;
}
.selectArrow{
    width:0.12rem;
    height:0.07rem;
    float:right;
    margin-top:0.22rem;
    margin-right:0.02rem;
}
#offer_p_date{
    width:2rem;
}
.moneyType:first-child{
    margin-left:1rem;
}
.moneyTextRMB{
    margin-right:0.22rem;
}
.moneyText,.reasonText{
    margin-left:0.05rem;
    margin-top:0.14rem;
    float:left;
}
.moneyType,.reasonIcon{
    width:0.24rem;
    height:0.24rem;
    float: left;
    margin-top:0.12rem;
    background: url(../img/check_icon.png) center no-repeat;
    background-size: 0.24rem 0.24rem;
    margin-top:0.12rem;
}
.checked{
    background: url(../img/checked_icon.png) center no-repeat;
    background-size: 0.24rem 0.24rem;
}
#offer_p_comment{
    width:2.2rem;
}
#no_option{
    /* color:#A7AAC4 */
}
.perRadio{
    overflow: hidden;
    width:100%;
}
.reasonText{
    height:0.3rem;
    margin-left:0.13rem;
    width:2rem;
    border-bottom:0.01rem solid #F9F9F9;
    margin-top:0.1rem
}
.radioChecked .reasonText{
    color:#4E7DFF;
}
.radioChecked .reasonIcon{
    background: url(../img/checked_icon.png) center no-repeat;
    background-size: 0.24rem 0.24rem;
}
.reasonIcon{
    margin-top:0.09rem;
}
.refusedReasonButton{
    margin-top:0.2rem;
}
.otherReason{
    display: none;
    width: 2.26rem;
    height:0.61rem;
    font-size: 0.14rem;
    margin-left:auto;
    margin-right:auto;
    margin-top:0.2rem;
    background-color: #F9F9F9;
    padding:0.08rem 0.12rem;
    border:0;
}
.placeholderStyle{
    color:#A7AAC4;
    line-height: 0.28rem;
}
.buttonListCalled{
    display: none;
    margin-top:0.15rem;
}
.buttonListNotCalled{
    display: none;
}
.calledPrice{
    width:100%;
    opacity: 0.2;
}
.buttonListRefusedCalled{
    margin-top:0.88rem;
}
.offerPartingLine{
    margin-bottom:0.2rem;
}