.negoHead{
    height:0.95rem;
    overflow: hidden;
}
.line1{
    overflow: hidden;
}
.pStatus{
    margin-top:0.2rem;
    margin-bottom:0.1rem;
}
.productName{
    float:left;
    margin-top:0.2rem;
    font-size: 0.16rem;
    font-weight: bold;
    color:#323455;
    width:2.5rem;
}
.casLine{
    float:left;
    color:#A7AAC4;
    width:100%;
}
.casNum{
    color:#323455;
}
.purchaseSTitle{
    margin-top:0.1rem;
    margin-bottom:0.1rem;
}
.firmNameBigTile{
    overflow: hidden;
    margin-bottom:0.26rem;
}
.leftLine{
    width:0.04rem;
    height:0.16rem;
    background:linear-gradient(360deg,rgba(62,165,254,1) 0%,rgba(85,110,255,1) 100%);
    border-radius:0.05rem;
    float:left;
    margin-top:0.24rem;
}
.firmNameText{
    float:left;
    width:2.9rem;
    font-size: 0.16rem;
    font-weight: bold;
    color:#323455;
    margin-left:0.1rem;
    margin-top:0.21rem;
}
.keyPriceNum{
    width:1rem;
}
.callClientButton{
    height:0.32rem;
    line-height:0.32rem;
    font-size: 0.14rem;
    margin-bottom:0.16rem;
}
.detailedPurchaseInfoModel{
    margin-top:0.1rem;
    margin-bottom:0.1rem;
}
.offerPartingLine{
    margin-bottom:0.1rem;
}
.purchaseOfferDetails{
    display: none;
    overflow: hidden;
}
.purchaseOfferDetailsHide{
    height:0;
}
.swichShowDetails{
    color:#4E7DFF;
    height:0.48rem;
    line-height: 0.48rem;
    text-align: center;
}