<div class="hello">
    <h1>组件上的prop：{{ dataMsg }}</h1>
    <h1>来自Vuex的store的count值：{{from_store_count}}</h1>
    <button @click='add'>增加+1</button>
    <button @click='minus'>减少-1</button>
    <div>来自Vuex的状态值</div>
    <span>状态值state1:{{state_1}}<br/></span>
    <span>状态值state2:{{state_2}}<br/></span>
    <span>状态值state3:{{state_3}}<br/></span>

    <div class='baseClass'>李宏磊</div>
    <input type="text" v-model='input_text'>双向绑定
    <p>input输出：{{input_text}}</p>
    <div>这里是HTML片段，但是输出字符串：{{html_text}}</div>
    <div id='renderHTML'>这里是HTML片段，但是渲染为html：<div v-html='html_text'></div></div>
    <div>新数据computed后1：{{newMessageByComputed}}</div>
    <div v-bind:class='{class1:activeClass1,class2:activeClass2}'>新数据通过方法后2：{{newMessageByMethod('呵呵')}}</div>
    <div>demo数据：name:{{demo.name}},age:{{demo.age}} <button @click='changeDemo'>修改demo数据</button></div>
    <div class='formRadio'>
        男：<input name='form_radio' type="radio" value='male' v-model='gender'>
        女：<input name='form_radio' type="radio" value='female' v-model='gender'>
        选中：{{gender}}
    </div>
    <div class='formRadio'>
        青年：<input name='form_age' type="radio" value='young' v-model='age_level'>
        老年：<input name='form_age' type="radio" value='old' v-model='age_level'>
        选中：{{age_level}}
    </div>
    <div>
        <ul>
            <li v-for='(per,index) in students'>
                学生姓名：{{per.name}};
                写生年龄：{{per.age}}；
                学号：{{index+1}}
            </li>
        </ul>
    </div>
    <button @click='$emit("emit-father","sonDataLHL1","sonDataLHL2",$event)'>触发父级</button>
    <button @click='triggerBo'>触发广播</button>
</div>