body,
html,
div {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	background-color: #f5f5f5;
}
/*头部图片*/
.publicHead{
	display: block;
	font-size:0;
	width:3.75rem;
}
/*切换按钮区域*/
.switchButtonArea{
	width: 3.75rem;
	height:0.63rem;
	overflow: hidden;
}
.triggerButtons{
	width:50%;
	height:0.63rem;
	float:left;
}
.shanghaiActive{
	background: url('../img/shanghai01.jpg') no-repeat;
	background-size: 3.75rem 0.63rem;
}
.guangzhouActive{
	background: url('../img/guangzhou01.jpg') no-repeat;
	background-size: 3.75rem 0.63rem;
}
/*表单区域*/
.zones{
	width: 3.75rem;
	overflow: hidden;
	display: none;
}
.shanghaiZoneActive{
	display: block;
	height:35.86rem;
	background: url('../img/shanghai02.jpg') no-repeat;
	background-size: 3.75rem 35.86rem;
}
.guangzhouZoneActive{
	display: block;
	height:30.77rem;
	background: url('../img/guangzhou02.jpg') no-repeat;
	background-size: 3.75rem 30.77rem;
}
.submitButton{
	display: block;
	font-size:0;
	width:2.86rem;
	height:0.45rem;
	margin-left:auto;
	margin-right:auto;
}
.inputArea{
	border:0;
	display: block;
	margin-left:1.3rem;
	background-color: transparent;
	color:#4e4e4e;
	padding-left:0.1rem;
}
#guang_zhou_user_name{
	margin-top:28.2rem;
}
#shang_hai_user_name{
	margin-top:33.32rem;
}
.phoneArea{
	margin-top:0.43rem;
}
.submitButton{
	display: block;
	font-size:0;
	width:2.86rem;
	height:0.45rem;
	margin-left:auto;
	margin-right:auto;
	margin-top:0.4rem;
}
.popUpWindow{
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	margin:auto;
	width:2rem;
	height:0.5rem;
	line-height: 0.5rem;
	background-color: #f5f5f5;
	border-radius: 0.08rem;
	box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
	font-size:0.15rem;
	color:#4e4e4e;
	text-align: center;
	display: none;
}