#e_success .smallTitle{
    width:3.25rem;
}
#e_success .key{
    width:auto;
}
#e_success .pName{
    width:100%;
}
#e_success #firm_email{
    text-overflow: clip;
    white-space: normal;
    width:2rem;
}
#e_success .ePerLine{
    height:auto;
    overflow: auto;
}
.notForbidden {
    color:#4E7DFF;
}
#e_success .successTop{
    height:auto;
}
#e_success .bigTitle{
    margin-bottom:0.24rem;
}
#e_success .smallTitle{
    margin-bottom:0.17rem;
}