body,
html,
div {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	background-color: #122f8b;
}
.bgImg{
    display: block;
    width:100%;
    line-height: 0;
}
.jumpToBottom{
    position: absolute;
    top:10.43rem;
    left:0;
    right:0;
    margin:auto;
    width:6.19rem;
    height:0.92rem;
}
.fomTips{
    width:6.14rem;
    margin-left:auto;
    margin-right:auto;
    margin-top:0.78rem;
    margin-bottom:0.84rem;
    font-size:0.3rem;
    line-height:0.3rem;
    color:#87a4f8;
}
.inputModel{
    position: relative;
    overflow: hidden;
    width:6.14rem;
    height:0.92rem;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:0.37rem;
    line-height:0.92rem;
    border-radius: 0.46rem;
    background-color: #ffffff;
}
.inputModel input {
    display: block;
    width:6.14rem;
    height:0.75rem;
    font-size: 0.32rem;
    margin-left:0.2rem;
    border:0;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #87a4f8;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #87a4f8;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #87a4f8;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #87a4f8;
}
#province{
    border: 0;
    background:none;
    display: block;
    width:6.14rem;
    height:0.75rem;
    font-size: 0.32rem;
    margin-left:0.2rem;
    color:#87a4f8;
    margin-top:0.1rem;
}
.submitButton{
    text-align: center;
    width:6.14rem;
    height:0.92rem;
    margin-left:auto;
    margin-right:auto;
    margin-top:0.72rem;
    line-height:0.92rem;
    border-radius: 0.46rem;
    font-size: 0.33rem;
    font-size: bold;
    color:#ffffff;
    margin-bottom: 1rem;
    background: -webkit-linear-gradient(left, #16b7f4 , #5c29ef); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #16b7f4, #5c29ef); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #16b7f4, #5c29ef); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #16b7f4 , #5c29ef); /* 标准的语法（必须放在最后） */
}
.arrow{
    position: absolute;
    display: block;
    right:0;
    top:0.3rem;
    right:0.38rem;
    width:0.13rem;
}