body,html,div,p{
	margin:0;
	padding:0;
}
div{
	box-sizing: border-box;
}
/* @import 'public.css'; */
.btn{
    
}
/*
    分隔行
*/
.seperateLine{
    width:100%;
    height:2px;
    background-color: black;
    margin:5px 0px 5px 0px;
    clear:both;
}
@font-face{
    font-family: lhl;
    src: url('../font/毛笔书法字体(启功体)繁启体.TTF');
    font-stretch: condensed;
    font-style: italic;
    font-weight: bold;
}
.fontType{
    font-family: lhl;
    font-size: 28px;
}
/*-----------------------------------------------------------------------------------------
 css定义变量
------------------------------------------------------------------------------------------*/

:root {
    --base_color: red;
    --base_font_size: 16px;
}

#base_css_test {
    color: var(--base_color);
}

/*-----------------------------------------------------------------------------------------
 z-index:在ie67不兼容的问题
------------------------------------------------------------------------------------------*/

.outer1 {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: #000000;
    /*增加相同的层级，让outer1和2相同，从而规避ie67默认按照上下文层级来显示的问题*/
    z-index: 1;
}

.inner1 {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #0000FF;
    z-index: 1000;
    bottom: 50%;
}

.outer2 {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: #006400;
    z-index: 2;
}

.inner2 {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #006CFF;
    z-index: 99;
    top: 0px;
}

/*-----------------------------------------------------------------------------------------
 a 标签样式 一般遵循L-V-H-A顺序（love hate）:但是实际上，:link已经毫无用处，用a即可代替，代码如下
 实际开发中要求：
 （1）点击前和点击后往往要颜色一致，
 （2）没有下划线
 （3）鼠标覆盖其点击区域时要发生颜色变化。
 所以，而起到提示作用的是:hover属性，和active属性（其实这个也很少用)。
综上所述：可用 a|(visited-可选)|hover|(active-可选)
------------------------------------------------------------------------------------------*/

.aStyle {
    transition: all 0.3s;
    text-decoration: none;
    color: #000000;
}

/* a:visited{
	color:#0000FF;
} */

a:hover {
    color: #118900;
}

/* a:active{
	color:red
} */

/*-----------------------------------------------------------------------------------------
 弟弟选择器
------------------------------------------------------------------------------------------*/

.selectorBro li + li {
    color: red;
    font-weight: bold;
}

/*-----------------------------------------------------------------------------------------
 选择器级别
------------------------------------------------------------------------------------------*/

.Level_1[data-diy] {
    color: red;
}

.notLi:not(:last-child){
	border-bottom:1px solid #333333
}
/*-----------------------------------------------------------------------------------------
 flex弹性盒子：非常适合h5
------------------------------------------------------------------------------------------*/

.flex_test1 {
    width: 100%;
    height: 100px;
}

.outer {
    width:800px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #873991;
}

.flexContent {
    display: flex;
    width: 150px;
    /*
	flex是一个复合属性：flex-grow:1(如果不写默认为1);flex-shrink:1(如果不写默认为1);flex-basis:默认为0%，
	如果写auto则按照本模块的宽度
*/
    /* flex:1; */
    height: 20px;
    flex-shrink: 0;
}

.flexContent:nth-child(1) {
    /* width:90px; */
    color: #ffffff;
    background-color: #000000;
    width: 50px;
}

.flexContent:nth-child(2) {
    /* width:100px; */
    background-color: #4081d6;
    width: 20px;
}

.flexContent:nth-child(3) {
    /* width:50px; */
    background-color: #4e4e4e;
    width: 33px;
}

.flexContent:nth-child(4) {
    /* width:70px; */
    background-color: #4081d6;
    width: 70px;
}

.flexContent:nth-child(5) {
    width:1200px;
    background-color: #4e4e4e;
}

.realContent {
    display: block;
    width: 150px;
}
/*
    左右固定宽度，中间弹性填满：flex写法，本质是flex-grow算法
*/
#flex_cup {
    font-weight: bold;
    font-size:20px;
}
.container{
    display: flex;
    height:100px;
}

.models{
    text-align: center;
    line-height: 100px;
}
.leftModel{
    width:100px;
    background-color: burlywood;
    /*
        注意：此处已经默认 flex: 0 1 auto;即grow为0，shrink为1,basis为模块自己的宽度
    */
}
.middleModel{
    background-color: cadetblue;
    flex:1;
}
.rightModel{
    width:100px;
    background-color: chocolate;
}

/*
    flex-grow
*/
.growContainer{
    display: flex;
    height:100px;
    width:500px;
}
.grow1{
    width:50px;
    background-color: burlywood;
    flex-grow: 1;
}
.grow2{
    width:100px;
    background-color: cadetblue;
    flex-grow: 2;
}
.grow3{
    width:150px;
    background-color: chocolate;
    flex-grow: 3;
}

/*
    flex-shrink
*/
.shrinkContainer{
    display: flex;
    height:100px;
    width:500px;
}
.shrink1{
    width:100px;
    background-color: burlywood;
    flex-shrink: 1;
}
.shrink2{
    width:200px;
    background-color: cadetblue;
    flex-shrink: 1;
}
.shrink3{
    width:300px;
    background-color: chocolate;
    flex-shrink: 1;
}

/*-----------------------------------------------------------------------------------------
 position sticky
------------------------------------------------------------------------------------------*/

.positionOut {
    width: 200px;
    height: 200px;
    border: 1px solid #006400;
}

.positionIn {
    width: 20px;
    height: 20px;
    position: sticky;
    top: 0px;
    background-color: #000000;
}

/*-----------------------------------------------------------------------------------------
 display
------------------------------------------------------------------------------------------*/

.beTable {
    display: table;
}

.beTr {
    display: table-row;
    height: 50px;
}

.beTd {
    display: table-cell;
    width: 150px;
}

/*-----------------------------------------------------------------------------------------
 背景测试
------------------------------------------------------------------------------------------*/

.bgTest {
    width: 200px;
    height: 200px;
    overflow: auto;
    background: #006400 url('../img/test.jpg') repeat fixed left center;
}

/*-----------------------------------------------------------------------------------------
 浮动清除测试
------------------------------------------------------------------------------------------*/
.floatContent{
	background-color: #000000;
	color:#ffffff;
	overflow: auto;
}
.floatL{
	float:left;
	width:100px;
	height:100px;
	background-color: #4e4e4e;
}
.floatR{
	float:right;
	margin-left:100px;
	width:100px;
	height:100px;
	background-color: #30363C;
}
.outsideGuy{
	width:100px;
	height:100px;
	color:#ffffff;
	background-color: #873991;
}
/*可行*/
/* .floatContent:after{
	clear:both;
	content:'';
	display: block;
} */

/*-----------------------------------------------------------------------------------------
	transform-style：flat | preserve-3d
	flat：指定子元素位于此元素所在平面内
	preserve-3d：指定子元素定位在三维空间内
------------------------------------------------------------------------------------------*/

.cube {
    position: relative;
    font-size: 80px;
    width: 2em;
    margin: 1.5em auto;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateX(-30deg) rotateY(30deg);
    transform: rotateX(-30deg) rotateY(30deg);
}

.cube>div {
    position: absolute;
    width: 2em;
    height: 2em;
    background: rgba(0, 0, 0, .1);
    border: 1px solid #999;
    color: white;
    text-align: center;
    line-height: 2em;
}

.front {
    -webkit-transform: translateZ(1em);
    transform: translateZ(1em);
}

.top {
    -webkit-transform: rotateX(90deg) translateZ(1em);
    transform: rotateX(90deg) translateZ(1em);
}

.right {
    -webkit-transform: rotateY(90deg) translateZ(1em);
    transform: rotateY(90deg) translateZ(1em);
}

.left {
    -webkit-transform: rotateY(-90deg) translateZ(1em);
    transform: rotateY(-90deg) translateZ(1em);
}

.bottom {
    -webkit-transform: rotateX(-90deg) translateZ(1em);
    transform: rotateX(-90deg) translateZ(1em);
}

.back {
    -webkit-transform: rotateY(-180deg) translateZ(1em);
    transform: rotateY(-180deg) translateZ(1em);
}

.tabType {
    display: inline-table;
}

/*
	margin测试
*/

.marginContainer {
    width: 200px;
    height: 100px;
    overflow: hidden;
    background-color: #0000FF;
}

.marginContent {
    width: 50px;
    height: 50px;
    background-color: #006CFF;
    margin-bottom: -10%;
}

.marginContent2 {
    width: 50px;
    height: 50px;
    background-color: #222222;
}

/*-----------------------------------------------------------------------------------------
	opacity和RGBA透明问题
------------------------------------------------------------------------------------------*/

.opClass {
    width: 100px;
    height: 100px;
    /* background-color: #000000;  */
    /* opacity:0.5;*/
    /* background: rgba(0, 0, 0, 0.5) */
    /* filter:alpha(opacity=50); */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#7f000000,endColorstr=#7f000000)";
}

.opContent {
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    /* -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#ff000000,endColorstr=#ff000000)"; Filter for IE8     */
    /* filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#256000000, endColorstr=#256000000); Filter for older IEs */
}

/*-----------------------------------------------------------------------------------------
	行高
------------------------------------------------------------------------------------------*/

.lineHeight {
    background-color: #000000;
}

.thisLine {
    margin: 0;
    line-height: 1;
    color: white;
}

/*-----------------------------------------------------------------------------------------
	盒模型
------------------------------------------------------------------------------------------*/

.boxModel {
    font-size: 12px;
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    background-color: #4e4e4e;
    padding: 10px;
    border: 10px solid #0000FF;
    margin: 10px;
}

/*-----------------------------------------------------------------------------------------
	分栏
------------------------------------------------------------------------------------------*/

.columTest {
    width: 500px;
    column-count: 3;
    background-color: #000000
}

.perColum {
    width: 150px;
    background-color: #4e4e4e;
}

/*-----------------------------------------------------------------------------------------
	媒体查询
------------------------------------------------------------------------------------------*/

.mediaQuery {
    width: 100px;
    height: 100px;
    background-color: #000000
}

@media screen and (max-width:1000px) {
    .mediaQuery {
        background-color: red;
    }
}

@media screen and (max-width:600) {
    .mediaQuery {
        background-color: blue;
    }
}

/*-----------------------------------------------------------------------------------------
	滚动条（针对webkit）
------------------------------------------------------------------------------------------*/

/* ::-webkit-scrollbar{
	width:8px;
	height:8px;
	background:#f5f5f5;
	border-radius: 4px;
}
::-webkit-scrollbar-thumb{
	background-color:#cccccc;
	border-radius:4px;
} */

.lineTwo {
    width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

/*-----------------------------------------------------------------------------------------
	滚动条（针对IE）
------------------------------------------------------------------------------------------*/

body {
    /*三角箭头的颜色*/
    /* scrollbar-arrow-color: #f00; */
    /*滚动条滑块按钮的颜色*/
    /* scrollbar-face-color: #ff0; */
    /*滚动条整体颜色*/
    /* scrollbar-highlight-color: #333; */
    /*滚动条阴影*/
    /* scrollbar-shadow-color: #ccc; */
    /*滚动条轨道颜色*/
    /* scrollbar-track-color: #666; */
}

.ieTest {
    width: 100%;
    height: 3px;
    background-color: #30363C;
    text-align: center;
    display: flex;
    display: -ms-flexbox;
}

.ie1 {
    flex: 1;
    -ms-flex: 1;
    background-color: #E50E0E;
}

.ie2 {
    width: 100px;
}

.ie3 {
    flex: 1;
    -ms-flex: 1;
    background-color: #008DFF;
}

.content_2 {
    height: auto;
    max-height: 100px;
}

/*-----------------------------------------------------------------------------------------
 单位测试
------------------------------------------------------------------------------------------*/
.dVm{
	width: 10vw;
	height:10vh;
	background-color: #000000;
	color:#ffffff;
}


