/*通用模块*/
.model
{
	padding:5px;
	background-color:#999999;
	color:#4e4e4e;
	position: relative;
	overflow: hidden;
	margin-bottom: 20px;
}
.modelTitle
{
	font-size: 16px;
	color:#ffffff;
}

/*---------------------------------------------------------------------------------------------------------------------------------	
	text-indent——首行缩进以及
-----------------------------------------------------------------------------------------------------------------------------------*/
#model1
{
	width:300px;
	text-indent:20px;
}
#model1:first-letter
{
	font-size: 22px;
	color:#4081d6;
	/*下沉的关键在于浮动，如果不浮动仅仅是在同一行的大字体*/
	float:left;
}
/*---------------------------------------------------------------------------------------------------------------------------------	
	text-transform：大小写[都支持]none/capitalize每个单词首字母大写/uppercase全部大写/lowercase全部小写 
-----------------------------------------------------------------------------------------------------------------------------------*/
#model2{text-transform: capitalize;}
#model3{text-transform: uppercase;}
#model4{text-transform: lowercase;}
/*---------------------------------------------------------------------------------------------------------------------------------	
	::selection：修改选中状态：IE9+，chrome，Opera，Safari支持；如果是FF支持::-moz-selection
-----------------------------------------------------------------------------------------------------------------------------------*/
#model5::selection
{
	color:#00CBC3;
	background-color: #000000;
}
#model5::-moz-selection
{
	color:#00CBC3;
	background-color: #000000;
}
/*---------------------------------------------------------------------------------------------------------------------------------	
	::text-shadow：文本添加阴影：IE9-不支持 
-----------------------------------------------------------------------------------------------------------------------------------*/
#model6
{
	text-shadow: 2px 2px 2px #0056CC;
}
