/*---------------------------------------------------------------------------------------------------------------------------
    reset样式重置
---------------------------------------------------------------------------------------------------------------------------*/
html{
    font: 10px/1.5 Helvetica,'Hiragino Sans GB',Arial,'Microsoft YaHei',sans-serif;
    color:#4e4e4e;
}
body,div,section,article,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,span{ 
    font-size: 1.4rem;
    padding:0;
    margin:0;
    vertical-align:baseline;
}
button, input, select, textarea { font-size: 1.4rem;}
table {border-collapse: collapse; border-spacing: 0; }
fieldset,img {border: 0;}
button{cursor:pointer;}
abbr, article, aside, bb, datagrid, datalist, details, dialog, eventsource, figure, figcaption, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time{display:block;padding: 0;margin: 0;}
address,caption,cite,code,dfn,em,strong,th,var { font-weight: normal; font-style: normal; }
code, kbd, pre, samp {font-family: courier new,courier,monospace;}
a { text-decoration: none;}
a:hover {text-decoration: underline;}
a{color:#7A7A7A;-webkit-transition:color 0.3s ease-in-out;-moz-transition:color 0.3s ease-in-out;}
a:hover{color:#f85d4f;}
sup { vertical-align: text-top;}
sub {vertical-align: text-bottom;}
legend {color: #000000;}
ol,ul { list-style: none;}
i{font-style:normal;}
caption,th { text-align: left;}
h1,h2,h3,h4,h5,h6 { font-size: 100%;}
q:before,q:after { content:'';}
abbr,acronym { border: 0;}
.dxlBlock{display:block;}
#dxlBackgroundDiv{background:#FFFFFF;}
input{outline:none;}

/*---------------------------------------------------------------------------------------------------------------------------
     base基本样式
---------------------------------------------------------------------------------------------------------------------------*/






















/*---------------------------------------------------------------------------------------------------------------------------
     component基本样式
---------------------------------------------------------------------------------------------------------------------------*/



















/*---------------------------------------------------------------------------------------------------------------------------
     库.html的测试
---------------------------------------------------------------------------------------------------------------------------*/
.test{
    background-color: #cccccc;
}
#line-empty{
    line-height: 50px;
}
#line-2{

    font-size: 0px;
}
#line-3{  
    line-height:300px;
}
#line-3 span{
    display: inline-block;
    line-height: 21px;
    vertical-align: middle;
}
#line-3 p{
    vertical-align: middle;
}