@import './head.scss';

html,
body,
div,
p,
article,
section {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root {
    span {
        color: pink;
        font-size: 20px;
        font-weight: bold;
    }
}