@import './base.scss';

#index_page {
    .head {
        background-color: #000000;
        color: #ffffff;
        font-size: 26px;
    }

    #image_content {
        width: 100px;
        height: 100px;
        background: url('../img/eg.jpg');
        display: block;
    }
}